%h2.text-center User Profile

.bg-light.p-3.m-3.rounded-lg
  %ul.list-group.list-group-flush
    %li.list-group-item
      %b Name:
      =@user.name
    %li.list-group-item
      %b Email:   
      =@user.email
    %li.list-group-item
      %b B-Number:      
      =@user.bnumber
    %li.list-group-item
      %b Course Level:           
      =@user.course_level
    %li.list-group-item
      %b Date of Birth:           
      =@user.dob  
    %li.list-group-item
      %b Major:           
      =@user.major
    %li.list-group-item
      %b Year:           
      =@user.year
      
.row.mt-5
  .col-lg-12
    = button_to "Edit", edit_user_path(@user), :method => :get, :class => 'btn btn-primary btn-block btn-lg rounded', :id => 'edit_user'
