%html{:lang => "en"}
  %body
    %h1 Login Page
    #wrapper
      #sidebar-wrapper
        %ul.sidebar-nav
          %li
            %a{:href => "#"} Upcoming Events
          
          %li
            %a{:href => "#"} RSVP
            
          %li
            %a{:href => "#"} Your Events
             
          
        %a.button{:href => "/welcome/login"}Back to Homepage
        %br