%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "/default.css", :rel => "stylesheet", :type => "text/css"}/
    %title EventNest
  %body
    .container
      #header.span-24
        %p.heading
          Welcome to The
          = succeed "EventNest" do
            %br 
          
      .span-24
        = yield
      #footer.span-24
      %fieldse
        -#%legend
          -#%h2 Login
        -#%h4 Username
        -#%input{:name => "username", :type => "text"}
        -#%h4 Password
        -#%input{:name => "password", :type => "text"}
        -#%br
        -#%br
        %a.button{:href => "/users/login"} Login
        %br
        %p 
          -#New User?
          %a.button{:href => "/users/new_user"} Signup
        %br
        %br
        %p.heading
          Upcoming Events
          
      %br
      %br
      